body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    width: 1500px;
    min-width: 500px;
}

.grid {
    display: grid;
    padding: 50px;
    padding-top: 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 250px 300px auto;
    
}

.grid-item {
    font-size: 20px;
    padding: 2px;
    text-align: left;
}

.item-end {
    text-align: right;
}

.adv-button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    margin-right: 6px;
    height: 30px;
    width: 120px;
}

.top {
    text-align: right;
    width: 1500px;
}

.hoved {
    width: 1500px;
    padding-top: 250px;
    text-align: center;
    /* background-color: blue; */ 

}

.inp-search {
    display: flex;
    padding: 5px 8px 0px 25px;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    margin: 0 auto;
    width: 638px;
    /* width: auto; */
    /* max-width: 584px; */
    /* background-color: grey; */ 
    font-size: 15px;  /* Egen ide */
}

.sub-search {
    height: 70px;
    text-align: center;
    padding-top: 18px;
}

a:link {
    text-decoration: none;
    color: black;
  }


/* HERFRA SKAL FJERNES */

.jfk-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}
.jfk-button-action {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    /* background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed); */
    border: 1px solid #3079ed;
    color: #fff;
}